.navbar-nav {
  float: none;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}

*:focus {outline:none !important}



.area{
  font-weight: 600;
height: 400px !important;
margin-top: 51px !important;
float: left !important;
width: 100% !important;
background-color: white;
margin-top: 50px;
height: 100%;
width: 50%;
float: left;
border-right: 3px solid dimgrey;
border-bottom: 3px solid dimgrey;
border-left: 3px solid dimgrey;
position: relative;
}
.result{
  width: 100% !important;
}


.result{
height: 400px !important;
margin-top: 20px !important;
float: left;
width: 100% !important;
border-top: 2px solid dimgrey;
border-bottom: 2px solid dimgrey;
border-right: 2px solid dimgrey;
border-left: 2px solid dimgrey;
}


textarea {
	height: 100%;
	width: 100%;
	margin-left: 25px;
	//font-size: 1.5em;
	font-family: "Courier New";
	font-weight: bold;
	border: none;
}
.pad{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
iframe {
	height: 100%;
	width: 100%;
	border: none;
}

.label {
	position: absolute;
	right: 15px;
	float: left;
	z-index: 500000000000;
	font-size: 1.2em;
	padding-top: 0.5em;
}

.CSS-container, .JS-container {
	display: none;
}

#btn-result {
	position:relative;
	right:10px;
}
